.free-consultation{
  background-image: url(../image/free-constional-bg.png);
   background-repeat: no-repeat;
  background-size: cover;

}

 @media (max-width:720px){

  .free-consultation{
    padding: 1rem;
  }      
    }
  
